* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}
.logo:hover {
  color: #4717f6;
  text-shadow: 0 0 25px #4717f6, 0 0 50px #4717f6;
  transform: scale(1.1);
}
span {
  color: #4717f6;
}
.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover,
navbar a.active {
  color: #4717f6;
  border-bottom: 3px solid #4717f6;
}
.contack {
  padding: 10 px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}
.contack:hover {
  background-color: #4717f6;
  box-shadow: 0 0 25px #4717f6;
  color: white;
}
.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
}
.home-content {
  max-width: 800px;
}
.home-content h3 {
  font-size: 42px;
}
.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}
.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
}
.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}
img {
  width: 400px;
}
.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3 ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.btn-2 {
  padding: 15px 28px;
  background-color: #4717f6;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3 ease;
  cursor: pointer;
}
.btn-2:hover {
  background-color: white;
  color: #4717f6;
  border: 2px solid #4717f6;
}
.img-box img {
  border-radius: 50%;
  width: 400px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #4717f6;
}

::-webkit-scrollbar-track {
  background-color: black;
  width: 50px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background-color: black;
}
.about-img img {
  position: relative;
  width: 550px;
  box-shadow: 0 0 25px #4717f6, 0 0 50px #4717f6;
  border-radius: 50%;
}
.about-content h2 {
  text-align: left;
  color: white;
  font-size: 42px;
}
.about-content h3 {
  font-size: 62px;
  color: white;
}

.about-content p {
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}
.contact-form h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}

.contact-form form {
  max-width: 50em;
  margin: 0 auto; /* Mengubah margin-bottom menjadi margin 0 auto agar form berada di tengah */
  text-align: center;
  margin-bottom: 3em;
}

.contact-form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form .input-box input,
.contact-form textarea {
  width: calc(
    50% - 1rem
  ); /* Mengubah width menjadi 50% - 1rem agar input-box memiliki lebar yang sesuai */
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: 0.8rem;
  margin: 0.5em; /* Mengubah margin menjadi 0.5em agar ada ruang di antara elemen-elemen input-box */
  border: none; /* Menambahkan border: none agar input-box terlihat lebih bersih */
  box-sizing: border-box; /* Menambahkan box-sizing: border-box agar padding tidak mempengaruhi lebar input-box */
}

.contact-form textarea {
  width: 100%; /* Mengubah width textarea menjadi 100% agar mengisi semua lebar parent */
  height: 10em; /* Menambahkan ketinggian ke textarea */
  resize: none;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: white;
  border: 2px solid #4717f6;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px #4717f6, 0 0 10px #4717f6;
  transition: 0.3s ease;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  color: #4717f6;
  border: 2px solid #4717f6;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover {
  border-bottom: 3px solid #4717f6;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.footer .social a box-icon {
  color: white; /* Mengatur warna ikon menjadi putih */
}
